<div class="container mt-4" ng-controller="novoProdutoCtrl">
    <div class="row">
        <h4 class="card-title">Detalhes do Produto</h4>
        <div ui-alert title="Ops, aconteceu um erro!" ng-if="showErrorMessage">
            {{error}}
        </div>
    </div>
    <div class="row mt-3 mb-4">
        <div class="col col-5">
            <form name="produtoForm">
                <div class="mb-3">
                    <label for="nome">Id</label>
                    <input class="form-control" type="text" ng-model="produto.id" name="id" placeholder="id" ng-required="true" ng-disabled="true"/>
                </div>
                <div class="mb-3">
                    <label for="nome">Data de criação</label>
                    <p class="bg-light p-2">{{produto.creationDate | date:"dd/MM/yyyy HH:mm"}}</p>
                </div>
                <div class="mb-3" ng-if="produto.updateDate != null">
                    <label for="nome">Data de atualizacao</label>
                    <p class="bg-light p-2">{{produto.updateDate | date:"dd/MM/yyyy HH:mm"}}</p>
                </div>
                <div class="mb-3">
                    <label for="nome">Nome</label>
                    <input class="form-control" type="text" ng-model="produto.name" name="nome" placeholder="Nome do produto" ng-required="true" ng-minLength="3"/>
                </div>

                <div class="mb-3">
                    <label for="codigo" class="">Código</label>
                    <input class="form-control mt-2" type="number" ng-model="produto.code" name="codigo" placeholder="Código" ng-required="true"/>
                </div>
                <div class="mb-3">
                    <label for="preco">Preço</label>
                    <input class="form-control mt-2" type="number" ng-model="produto.price" name="preco" placeholder="Preço" ng-required="true"/>
                </div>
            </form>
        </div>
    </div>
    <div class="row mt-3 mb-4">
        <div class="col col-5">
            <div ng-show="produtoForm.nome.$dirty" ng-messages="produtoForm.nome.$error">
                <div ng-message="required" class="alert alert-danger">
                    Por favor, preencha o campo nome do produto!
                </div>
                <div ng-message="minlength" class="alert alert-danger">
                    O nome do produto deve ter no mínimo 3 caracteres.
                </div>
            </div>
            <div ng-show="produtoForm.codigo.$error.required && produtoForm.codigo.$dirty" class="alert alert-danger">
                Por favor, preencha o campo código!
            </div>
            <div ng-show="produtoForm.preco.$error.required && produtoForm.preco.$dirty" class="alert alert-danger">
                Por favor, preencha o campo preço!
            </div>
            <a class="btn btn-primary" href="#!/produtos">Voltar</a>
            <button class="btn btn-warning btn-block g-col-2" ng-click="updateProduto(produto)" ng-disabled="produtoForm.$invalid">Atualizar Produto</button>
        </div>
    </div>
</div>