<div class="card w-75" ng-controller="produtosCtrl">
    <div class="card-body">
        <h4 class="card-title">Produtos</h4>
        <div ui-alert title="Ops, aconteceu um erro!" ng-if="showErrorMessage">
            {{error}}
        </div>
        <div class="d-flex flex-row-reverse mb-2">
            <a class="btn btn-primary" href="#!/novoProduto">Novo produto</a>
        </div>
        <hr>
        <input class="form-control mb-2" type="text" ng-model="criterioDeBusca" placeholder="Busque pelo nome, ou código, ou preço"/>
        <table class="table table-striped">
            <tr>
                <th>Nome</th>
                <th>Código</th>
                <th>Preço</th>
                <th>Ações</th>
            </tr>
            <tr ng-repeat="produto in produtos | filter:criterioDeBusca">
                <td>{{produto.name}}</td>
                <td>{{produto.code}}</td>
                <td>{{produto.price | currency:"R$":2}}</td>
                <td>
                    <div class="">
                        <a class="btn btn-primary btn-sm" href="#!/detalhesProduto/{{produto.id}}">Detalhes</a>
                        <button class="btn btn-danger btn-sm" ng-click="removerProduto(produto.id)">Remover</button>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div>
        
    </div>
</div>